html, body {
  height: 100%;
  margin: 0; padding: 0;
}

body {
  font: 13px sans-serif;
}

.mainApp {

  header {
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background: #ddd;
    box-shadow: 0 2px 8px #000;

    h1 {
      margin: 0; padding: 0;
      text-align: center;
      font-size: 1.5em;
      line-height: 50px;
    }

    button {
      position: absolute;
      font-weight: bold;
      border: 0;
      background: #ddd;
      line-height: 50px;
      width: 50px;
      height: 50px;
      font-size: 1.5em;
    }

    button.back {
      left: 0;
      top: 0;
      border-right: 1px solid #666;
    }

    button.help {
      right: 0;
      top: 0;
      border-left: 1px solid #666;
    }

  }

  .view {
    position: absolute;
    width: 100%;
    top: 0; left: 0;
    transform: translateX(100%);
    transition: transform 0.25s;
    //transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    padding: 50px 0 0 0;
  }

  .appsListView {
    transform: translateX(-100%);
  }
  .helpView {
    transform: translateX(100%);
  }

  &.appsList {
    header button.back { display: none; }
    .appsListView {
      transform: translateX(0%);
    }
  }
  &.appDetail {
    .appDetailView {
      transform: translateX(0%);
    }
  }
  &.help {
    header button.help { display: none; }
    .helpView {
      transform: translateX(0%);
    }
  }

  .appsListView {

    .apps {
      margin: 0; padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;

      .app {
        flex-grow: 1;
        float: left;
        padding: 1em 0 1em 0;
        margin: 0.25em;
        width: 128px;
        text-align: center;

        .icon {
          width: 128px;
          height: 128px;
        }

        .name {
          font-size: 1.125em;
          padding: 0.25em;
          display: block;
        }

      }

    }

  }

  .appDetailView {
    text-align: center;

    h2 {
      margin: 1.5em 0; padding: 0;
      text-align: center;
      font-size: 1.75em;
    }

    .icon {
      width: 256px;
      height: 256px;
    }

    .description {
      font-size: 1.25em;
      padding: 1em;
    }

    button {
      font-weight: bold;
      font-size: 2em;
    }

  }

  .helpView {
    padding: 60px 2em 2em 2em;
  }

}
