html, body {
  height: 100%;
  margin: 0;
  body: 0;
}
body {
  font: 13px sans-serif;
}

.apps {
  margin: 0; padding: 0;
  list-style-type: none;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  .app {
    flex-grow: 1;
    float: left;
    margin: 0.25em;
    width: 128px;
    height: 200px;
    border: 1px solid #000;
    text-align: center;

    .icon {
      width: 128px;
      height: 128px;
    }

    .name {
      padding: 0.125em;
      display: block;
    }

  }
}
