<!DOCTYPE html>
<html>
  <head>
    <title>apps.lmorchard.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" type="text/css" href="index.css">
  </head>
  <body>
    <section class="mainApp appsList">
      <header>
        <h1>apps.lmorchard.com</h1>
        <button class="back">&lt;</button>
        <button class="help">?</button>
      </header>
      {% block content %}{% endblock %}
    </section>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
